<!--

* Author: ROBERTO CARBONI

* Assignment: BScH Mobile Development, Digital Skills Academy

* Student ID: STU-00001225 * Date : 2017/05/08

* Ref: SEE INLINE COMMENTS

==========================================================
code online at http://site234.digitalskillsacademy.me/MD2/
==========================================================

-->

<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Taskmaster</name>

  <description>
      A simple Angularjs-based To-Do List Application.
  </description>

  <author>
      Roberto Carboni
  </author>

  <platform name="ios">
    <icon src="img/taskmaster_icon.png" width="128" height="128" />
  </platform>

  <platform name="android">
    <icon src="img/taskmaster_icon.png" width="128" height="128" qualifier="ldpi" />
  </platform>

  <platform name="winphone">
    <icon src="img/taskmaster_icon.png" width="128" height="128" />
  </platform>

</widget>