<!--

* Author: ROBERTO CARBONI

* Assignment: BScH Mobile Development, Digital Skills Academy

* Student ID: STU-00001225 * Date : 2017/05/08

* Ref: SEE INLINE COMMENTS

==========================================================
code online at http://site234.digitalskillsacademy.me/MD2/
==========================================================

-->

<!DOCTYPE html>
<html lang="en" data-ng-app="Taskmaster">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Taskmaster</title>
</head>

<body data-ng-controller="appController"><!--Binds the <body> tag to the controller-->
	
	<!--START OF MAIN PAGE-->
	<div data-role="page" data-theme="d" data-content-theme="d" id="main_page">
	
		<!--START OF HEADER-->
		<div data-role="header" data-position="fixed" class="ui-header ui-bar-d" role="banner" data-id="header">
				
			<!--START OF NAVBAR-->
			<div data-role="navbar" class="ui-navbar ui-mini" role="navigation">
				<ul class="ui-grid-b">
					<!--START OF URGENT BLOCK-->
					<li class="ui-block-a"><a href="#" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-inline="true" class="ui-btn ui-btn-up-a ui-btn-inline urgent_sum"><span class="ui-btn-inner">
						<!--FOLLOWING CODE FILTERS ITEM LIST ARRAY TO COUNT URGENT ITEMS AND DISPLAY RESULT-->
						<span data-ng-repeat="item in filtered = (items | filter:{prior:'Urgent'}) track by $index"></span>
						<span class="sum_text">{{filtered.length}} Urgent</span></span></a></li>
					<!--/URGENT-->
					<!--START OF IMPORTANT BLOCK-->
					<li class="ui-block-b"><a href="#" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-inline="true" class="ui-btn ui-btn-inline ui-btn-up-a important_sum"><span class="ui-btn-inner">
						<!--FOLLOWING CODE FILTERS ITEM LIST ARRAY TO COUNT IMPORTANT ITEMS AND DISPLAY RESULT-->
						<span data-ng-repeat="item in filtered = (items | filter:{prior:'Important'}) track by $index"></span>
						<span class="sum_text">{{filtered.length}} Important</span></span></a></li>
					<!--/IMPORTANT-->
					<!--START OF DELAYABLE BLOCK-->
					<li class="ui-block-c"><a href="#" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-inline="true" class="ui-btn ui-btn-up-a ui-btn-inline delayable_sum"><span class="ui-btn-inner">
						<!--FOLLOWING CODE FILTERS ITEM LIST ARRAY TO COUNT DELAYABLE ITEMS AND DISPLAY RESULT-->
						<span data-ng-repeat="item in filtered = (items | filter:{prior:'Delayable'}) track by $index"></span>
						<span class="sum_text">{{filtered.length}} Delayable</span></span></a></li>
					<!--/DELAYABLE-->
				</ul>
			</div><!-- /NAVBAR -->

		</div><!-- /HEADER -->

		<!--FOLLOWING CODE DISPLAYS THE ITEMS LIST-->
		<ul id="itemsList">
			<li data-ng-repeat="currentItem in items track by $index" class="task_list"><!--ngRepeat for items array-->
					<div class="task_frame {{currentItem.prior}}"><!--adds the currentItem.prior class to apply css based on priority-->
						<div class="task_title">{{currentItem.name}}</div>
						<div class="task_desc">{{currentItem.desc}}</div>
						<div class="task_deadline">{{currentItem.dead}}</div>
						<!--Delete button-->
						<a href="#" data-role="button" data-icon="delete" data-inline="true" data-ng-click="delete($index)">Delete this Task</a>
						<!--/Delete button-->
					</div>
			</li>
		</ul>
		<!--/ITEMS LIST-->

		<!--FOOTER IS USED AS AN "ADD TASK" BUTTON-->
		<div data-role="footer" data-id="foo1" data-position="fixed" data-theme="b" data-content-theme="b">
			<div data-role="navbar">
				<ul class="ui-btn">
					<li ><a href="#form_page" data-icon="add" data-ng-click="goto_form()">ADD A TASK</a></li><!-- Activating footer launches goto_form function-->
				</ul>
			</div><!-- /navbar -->
		</div>
		<!-- /FOOTER -->

	</div><!-- /main_page ----------------------------------------------------------------------------------------------- -->

	<!--START OF FORM PAGE-->
	<div data-role="page" data-theme="d" data-content-theme="d" id="form_page">

		<!--START OF HEADER-->
		<div data-role="header" data-position="fixed" class="ui-header ui-bar-d" role="banner" data-id="header">
				
			<!--START OF NAVBAR-->
			<div data-role="navbar" class="ui-navbar ui-mini" role="navigation">
				<ul class="ui-grid-b">
					<!--START OF URGENT BLOCK-->
					<li class="ui-block-a"><a href="#" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-inline="true" class="ui-btn ui-btn-up-a ui-btn-inline urgent_sum"><span class="ui-btn-inner">
						<!--FOLLOWING CODE FILTERS ITEM LIST ARRAY TO COUNT URGENT ITEMS AND DISPLAY RESULT-->
						<span data-ng-repeat="item in filtered = (items | filter:{prior:'Urgent'}) track by $index"></span>
						<span class="sum_text">{{filtered.length}} Urgent</span></span></a></li>
					<!--/URGENT-->
					<!--START OF IMPORTANT BLOCK-->
					<li class="ui-block-b"><a href="#" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-inline="true" class="ui-btn ui-btn-inline ui-btn-up-a important_sum"><span class="ui-btn-inner">
						<!--FOLLOWING CODE FILTERS ITEM LIST ARRAY TO COUNT IMPORTANT ITEMS AND DISPLAY RESULT-->
						<span data-ng-repeat="item in filtered = (items | filter:{prior:'Important'}) track by $index"></span>
						<span class="sum_text">{{filtered.length}} Important</span></span></a></li>
					<!--/IMPORTANT-->
					<!--START OF DELAYABLE BLOCK-->
					<li class="ui-block-c"><a href="#" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-inline="true" class="ui-btn ui-btn-up-a ui-btn-inline delayable_sum"><span class="ui-btn-inner">
						<!--FOLLOWING CODE FILTERS ITEM LIST ARRAY TO COUNT DELAYABLE ITEMS AND DISPLAY RESULT-->
						<span data-ng-repeat="item in filtered = (items | filter:{prior:'Delayable'}) track by $index"></span>
						<span class="sum_text">{{filtered.length}} Delayable</span></span></a></li>
					<!--/DELAYABLE-->
				</ul>
			</div><!-- /NAVBAR -->

		</div><!-- /HEADER -->

		
		<!-- START OF MAIN CONTENT -->
		<div class="container ui-field-contain" data-role="content">

			<div class="form_cont">
				<form name="task_form">
					<input id="nameInput" type="text" data-theme="e" data-ng-model="newItemsName" placeholder="Title (min 3 chars)"/><!--Input text for Title-->

					<input id="descInput" type="text" data-theme="e" data-ng-model="newItemsDesc" placeholder="Description (Optional)"/><!--Input text for Optional description-->

			    	<select  id="priorInput" data-theme="e" ng-options="option.name for option in priority.availableOptions track by option.id" ng-model="priority.selectedOption"></select><!--Select field for Priority-->
			    	
					<!--DATE PICKER-->
					<!-- //Code reuse
						// Ref: http://indrimuska.github.io/angular-moment-picker/
						// Ref: Angular Moment Picker by Indri Muska -->
					<div class="input-group" moment-picker="newItems.dead" format="DD-MM-YYYY">
					    <span class="input-group-addon">
					        <i class="octicon octicon-calendar"></i>
					    </span>
		    			<input id="dateInput" class="form-control" data-theme="e" placeholder="Complete by? (Optional)" ng-model="newItemsDead">
					</div>
					<!-- end of code reuse -->
					<!--/DATE PICKER-->

					<!--This button calls addItem function to add the item to the list:-->
					<button id="addButt" data-ng-click="addItem()" data-icon="add" data-inline="true" data-theme="e">Add task</button>
					
				</form><!-- /FORM-->
			</div><!-- /FORM CONTAINER-->

		</div>
		<!-- /MAIN CONTENT -->

		<!--FOOTER IS USED AS AN "CANCEL" BUTTON-->
		<div data-role="footer" data-id="foo2" data-position="fixed" data-theme="b" data-content-theme="b">
			<div data-role="navbar">
				<ul class="ui-btn">
					<li><a href="#main_page" data-ng-click="cancel()" data-icon="delete" class="footer_txt">CANCEL</a></li><!-- Activating footer launches 'cancel' function-->
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->

	</div>
	<!-- /FORM PAGE -->
		

		<!-- Include the JQueryMobile libraries -->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.2/jquery.mobile-1.1.2.min.css" />
		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.1.2/jquery.mobile-1.1.2.min.js"></script>

	  	<!-- Include the Angularjs libraries -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="js/controller.js"></script>

		<!-- Include Moment with Locale library -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>

		<!-- Include Angular Moment Picker library -->
		<script src="https://cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>

		<!-- Include Angular Moment Picker CSS file -->
		<link href="https://cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">

		<!-- Include Custom Scripts / Styles -->
		<script src="js/scripts.js"></script>
		<link rel="stylesheet" href="css/custom.css" />

</body>
</html>